@charset "UTF-8";
/* CSS Document */

body {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#424242;
	background: url(../images/bkg.png) repeat-x top #f1f1f1;
}
#container {
	clear:both;
	margin:0 auto;
	text-align:left;
	width:948px;
	padding:30px;
	background:#ffffff;
	border-bottom: 30px solid #d6d6d6;
	padding-bottom: 50px;
	margin-bottom: 20px;
}
#header {
	background: url(../images/jbds9_banner.png) no-repeat;
	margin:-30px -30px 0px -30px;
	height:105px;
	border-bottom: 6px solid black;
}

a {
	color:#3e5d79;
	text-decoration:none;
	font-weight:bold;
}
a:hover {
	color:#006699;
}
h1 {
	font-family: Myriad Pro, Helvetica, sans-serif;
	color:#8c8f91;
	font-size:28px;
	margin:60px 0 0px 0;
	padding-bottom:0px;
	display:none;
}

h2 {
	color:#424242;
	font-size: 18px;
	letter-spacing:-0.02em;
	margin: 30px 0 -6px 0;
}
h3 {
	font-family: Myriad Pro, Helvetica, sans-serif;
	color:#CC3300;
	font-size:20px;
	letter-spacing:-0.03em;
	margin-bottom:-10px;
}
h4 {
	font-family: Myriad Pro, Helvetica, sans-serif;
	color:#666666;
	font-size:16px;
	letter-spacing:-0.03em;
	margin-bottom:-15px;
}
.build {
	color:#666666;
	font-size: 22px;
}
/*-- =List --*/


.multiplatform {
	/* font-size:24px; */
	padding: 2px 0px 2px 16px; 
	/* height: 46px; */
	background: url(../images/icon_dl.png) no-repeat scroll left top;
	/* margin: 0px; */
	}
.multispec {
	font-size: 12px;
}

.newupload {
	font-size: 12px;
	padding:2px 0px 2px 20px;
	background: url(../images/icon_new.png) no-repeat scroll left top;
	color: #cc0000;
	}

.platform {
	padding-left: 10px;
}
	
ul li {
	list-style:none;
	margin-left:5px;
	padding:2px 0px 2px 16px;
}

.windows {
	background: url(../images/icon_dl.png) no-repeat scroll left top;
}
.linux {
	background: url(../images/icon_dl.png) no-repeat scroll left top;
}
.mac {
	background: url(../images/icon_dl.png) no-repeat scroll left top;
}
.postnote a {
	color: #7b1e1e;
	font-weight: normal;
}
.note {
	color: #7b1e1e;
	padding-top: 5px;
}
.jirabug {
	background: url(../images/icon_jirabug.png) no-repeat scroll left top;
	padding:2px 0px 2px 30px;
}

/*-- Prime Headline --*/

.prime {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-weight:normal;
	color:#8c8f91;
	font-size: 28px;
	letter-spacing:-0.02em;
	margin: 30px 0 -6px 0;
}


/* -- Right side bar  --*/

.rightsidebar {
	float: right;
	width: 250px;
	margin-left: 40px;
	margin-bottom: 40px;
	border: 1px solid #d6d6d6;
	padding: 30px;
	background: #f3f3f3;
}
.rightsidebar h4 {
	color: #163144;
	margin: 0 0 -6px 0;
}

.rightsidebar ol, ul {
}

.rightsidebar li {
	padding-bottom: 1em;
}
	





/*-- =Checklist --*/
.proj_checklist {
	padding:0px 0 20px 0;
	-x-system-font:none;
	color:#777777;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:18px;
}
.proj_checklist p {
	display:block;
	line-height:16px;
	padding:5px 0px 0 20px;
}
.proj_checklist a {
	color:#005E8F;
}
.proj_checklist strong {
	background-color:#F2F3F4;
	clear:both;
	color:#000000;
	font-family:Myriad Pro, Helvetica;
	font-size:16px;
	font-weight:normal;
	padding:3px;
}
.proj_checklist ul {
	margin:0px;
	padding:0px;
	padding:0px 0 0px 15px;
}
.proj_checklist ul li {
	list-style:none;
	background:transparent url(../images/check.png) no-repeat scroll left top;
	margin-left:5px;
	padding:0px 0px 0px 20px;
}
.proj_checklist ul ul {
	padding:0px 0 5px 15px;
}
.proj_checklist ul li li {
	list-style:disc;
	background-image:none;
	margin:0px;
	padding:0px 0px 0px 0px;
}
