#newPromoHome {width: 720px; height: 250px; margin-bottom: 1em; position: relative;}

#newPromoSlides {float: left; width: 501px;}
.promoPics {width: 501px; height: 250px; margin: 0; padding: 0; overflow: hidden;}
.promoPics img {height: 250px; width: 501px; top: 0; left: 0;}
#newPromoNav {float: right; padding: 0; margin: 0; list-style-type: none;}
#newPromoNav li {position: relative; margin: 0; padding: 0; width: 219px; height: 82px; overflow: hidden; text-align: left;}
#newPromoNav a {display: block; width: 219px; height: 72px;}
#newPromoNav img {display: block;}

#newPromoNav li {line-height: 0; font-size: 1px;} /* fixes vert space in IE7 */
#newPromoNav li#newPromoOne {top: 0px;}
#newPromoNav li#newPromoTwo {top: 2px;}
#newPromoNav li#newPromoThree {top: 4px;}

#newPromoNav li#newPromoOne a:hover img {position: absolute; top: -100%;}
#newPromoNav li#newPromoTwo a:hover img {position: absolute; top: -100%;}
#newPromoNav li#newPromoThree a:hover img {position: absolute; top: -100%;}

#newPromoNav li#newPromoOne a.activeSlide img {position: absolute; top: -200%;}
#newPromoNav li#newPromoTwo a.activeSlide img {position: absolute; top: -200%;}
#newPromoNav li#newPromoThree a.activeSlide img {position: absolute; top: -200%;}

#newPromoHome a.SPButtonNonJS {display: none;} /* removed by javascript when javascript is enabled */

.SPButton {display: block; width: 40px; height: 40px; text-indent: -9999px; background: url(/g/home_promos/pause.png) 0 0 no-repeat; overflow: hidden; position: absolute; left: 5px; top: 5px; z-index: 10;}
.play {background: url(/g/home_promos/play.png) 0 0 no-repeat;}
a.SPButton:active, a.play:active, a.SPButton:focus, a.play:focus {outline: 0;}

/* begin styles for promo cycler (on training main page */
.js #flipBanner {display:none;}
#flipBanner {margin-bottom: 5px; position: relative;}
#flipBanner img {position: absolute; top: 0pt; left: 0pt; width: 720px; height: 100px;}
#flipBanner img.one {z-index: 3;}
#flipBanner img.two {z-index: 2;}
#flipBanner img.three {z-index: 1;}
.nav {float: right; padding-right: 15px;}
.buttons {text-align: right; float: right; padding-right: 5px; display: none;}
.nav, .buttons {margin-top: 105px;}
#nav a {font-size: smaller; margin: 0 2px; padding: 0 8px; background: #fff; color: #333; text-decoration: none;}
.buttons a {margin: 0 2px; padding: 2px 0;}
.buttons a img {padding-top: 4px;}
#nav a.activeSlide {background: #fff; color: #333; border-bottom: 2px solid #ccc;}
#nav a:focus, .buttons a:focus {outline: none;}
#nav a:hover {background: #fff; border-bottom: 2px solid #ccc;}
/* end styles for promo cycler */

