AuthName "JBoss Developer Studio 3.0 Login Required"
AuthUserFile /var/www/devstudio.jboss.com/password/.htpasswd
AuthGroupFile /dev/null
AuthType Basic
<Limit GET POST>
order allow,deny
allow from all
require user jbdevstudio 
</Limit>

