@charset "UTF-8";
/* CSS Document */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	background: url(../images/bkg.png) repeat-x top #2d0806 fixed;
	}
	
#container {
	clear:both;
	margin:0 auto;
	text-align:left;
	width:980px;
	padding:30px;
	background:#ffffff url(../images/bkg_content.png) repeat-x bottom;
	-moz-border-radius: 10px; -webkit-border-radius: 10px;
	-moz-box-shadow:0px 10px 10px #1d0403;
	}
	
#header {
	background: url(../images/jbds_banner_earlyaccess.png) no-repeat top left #350a08;
	margin:-30px -30px 0px -30px;
	padding:20px;
	height:80px;
	-moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px;
	-moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px;
	-moz-box-shadow:0px 5px 5px #918f8f;
}
	 
a {
	color:#0099CC;
	text-decoration:none;
	font-weight:bold;
	}
	
a:hover {
	color:#006699;
	}
	
h1 {
	font-family: Myriad Pro, Helvetica, sans-serif;
	color:#CC3300;
	font-size:28px;
	margin:60px 0 0px 0;
	padding-bottom:0px;
	display:none;
	}
		
h2 {
	font-family: Myriad Pro, Helvetica, sans-serif;
	color:#990000;
	font-size:24px;
	letter-spacing:-0.03em;
	margin: 30px 0 -6px 0;
	border-bottom:1px solid #CCCCCC;
	}	
	
h3 {
	font-family: Myriad Pro, Helvetica, sans-serif;
	color:#CC3300;
	font-size:20px;
	letter-spacing:-0.03em;
	margin-bottom:-10px;
	}	
	
h4 {
	font-family: Myriad Pro, Helvetica, sans-serif;
	color:#666666;
	font-size:16px;
	letter-spacing:-0.03em;
	margin-bottom:-15px;
	}
	
.build {
	color:#666666;
	background: url(../images/bkg_build.png) repeat-x;
	border: 1px #CCCCCC solid;
	padding:6px 15px 0px 15px;
	}	


	
/*-- =List --*/
ul {
	padding:0px 0 0px 15px;
	}
	
ul li {
	list-style:none;
	background: url(../images/jbds_bug.png) no-repeat scroll left top;
	margin-left:5px;
	padding:2px 0px 2px 20px;
	}	

	
	
/*-- =Checklist --*/
.proj_checklist {
	padding:0px 0 20px 0;
	-x-system-font:none;
	color:#777777;
	font-family:Helvetica,Arial,sans-serif;
	font-size:12px;
	line-height:18px;
	}

.proj_checklist p {
	display:block;
	line-height:16px;
	padding:5px 0px 0 20px;
	}

.proj_checklist a {
	color:#005E8F;
	}

.proj_checklist strong {
	background-color:#F2F3F4;
	clear:both;
	color:#000000;
	font-family:Myriad Pro,Helvetica;
	font-size:16px;
	font-weight:normal;
	padding:3px;
	}

.proj_checklist ul {
	margin:0px;
	padding:0px;
	padding:0px 0 0px 15px;
	}

.proj_checklist ul li {
	list-style:none;
	background:transparent  url(../images/check.png) no-repeat scroll left top;
	margin-left:5px;
	padding:0px 0px 0px 20px;
	}
.proj_checklist ul ul {
	padding:0px 0 5px 15px;
	}
.proj_checklist ul li li {
	list-style:disc;
	background-image:none;
	margin:0px;
	padding:0px 0px 0px 0px;
	}

